/* quiz style */

body {
  font-family: 'Playfair Display', serif;
  background-color: #121212;
  color: #fff;
}

#quiz-box {
  border-radius: 5px;
  padding: 0 50px 60px;
  background-color: #292929;
  position: absolute;
  top: 20%;
  left: 15%;
  right: 10%;
  width: 60%;
  line-height: .5;
  box-shadow: 0px 0px 3px 1px rgba(41,41,41,0.50);
}

.breadcrumbs {
  color: #9E9E9E;
  font-family: 'Roboto', sans-serif;
  padding-top: 5px;
}

.quiz {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.1;
  position: relative;
  margin: 20px 0 0px;
  color: #DBDBDB;
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

form {
  margin-top: 30px;
}

.btn {
  width: 12em;
  display: inline-block;
  bottom: 150px;
  border-radius: 4px;
  border: 2px solid #BB86FC;
  color: #121212;
  background-color: #BB86FC;
  padding: 15px;
  margin: 10px;
  transition: .2s ;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.btn:hover {
  border-color: #9357de;
  background-color: #9357de;
  color: #fff;
}

.btn:focus {
  outline: none;
}

.restart-btn {
  margin-top: -15px;
}

.toast {
  animation: toast 4s forwards;
  height: 40px;
  margin-top: 35px;
}

.error {
  background-color: #CF6679;
  color: #121212;
}

.success {
  background-color: #03DAC6;
  color: #121212;
}

p.message {
  margin: 0;
  height: 35px;
  width: 240px;
  text-align: center;
  box-shadow: 0px 0px 2px 1px rgb(83, 75, 94, .24);
  align-items: center;
  display: flex;
  justify-content: center;  
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
}

@keyframes toast {

  0%   {opacity: 1;}
  90%  {opacity: 1;}
  100% {opacity: 0;}

}

.finale {
  display: inline-block;
  padding: 30px 5px;
  color: #DBDBDB;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.score {
  display: flex;
}

svg {
  fill: #DBDBDB;
  width: 22px;
  margin: 0 5px 0 10px;

}
